.experience_doctors {
  padding-bottom: 100px;
}
.doctor_details {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}
.doctor_details img {
  width: 100%;
  height: 350px;
}
.doctor_details::before {
  content: "";
  position: absolute;
  width: -100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  transition: 0.5s ease;
}
.doctor_details:hover::before {
  width: 100%;
}
.social_link {
  position: absolute;
  bottom: 0%;
  left: 23%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  /* transform: translate(50%, -50%); */
  /* transform: translateX(50%,-50%); */
}
.doctor_details:hover .social_link {
  bottom: 40%;
  visibility: visible;
  opacity: 1;
}
.social_link ul li {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.social_link ul li i a {
  font-size: 20px;
  color: var(--primary-color);
  display: inline-block;
}
.doctor_details img {
  width: 100%;
}
.doctor_info h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--heading-color);
}
.doctor_info p {
  font-weight: 500;
  color: var(--main-color);
}

/* ----------------------media query---------------- */

/* ----------tablet size----------------- */
@media (min-width: 577px) and (max-width: 768px) {
  .social_link {
    left: 32%;
  }
}
